@import "bootstrap/scss/bootstrap";

$bg : coral;
$color-text : whitesmoke;



body{
    background-color: $bg;
    color: $color-text;
    font-family: 'Oswald', sans-serif;

    h1{
        color: aquamarine;
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
}
